@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  display: grid;
  place-content: center;
  height: 100vh;
}

.mage {
  @apply relative bg-[url("./assets/images/background-mobile.png")] md:bg-[url("./assets/images/background-tablet.png")] mx-auto h-[130vh]  md:h-[120vh] max-w-[789px] lg:bg-[url("./assets/images/background-desktop.png")];
}
.text-gradient {
  @apply bg-GOrange;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.Wform {
  @apply md:w-[70%] mx-auto;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.texting {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}
.ticket {
  @apply flex justify-center mt-8  md:mt-6 relative;
}
input {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 410px) and (max-width: 634px) {
  .custom {
    /* Add your custom styles here */
    max-width: 60%;
  }
}
